*{
    margin: 0px;
    font-family: Calibri;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 170px;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.nav-deliver{
    font-size: 0.80rem;
    color: #cccccc;
    margin-left: 15px;
}

.nav-location{
    font-size: 1rem;
    margin-left: 3px;
    font-weight: bolder;
}

.nav-icon{
    display: flex;
}

.nav-searchbar{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 60%;
    border-radius: 5px;
}

.nav-all{
    background-color: #E6E6E6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.nav-search{
    width: 100%;
    font-size: 1rem;
    border: none;
} 

.nav-sicon{
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111;
}

.nav-lang{
    display: flex;
    height: 35px;
    width: 60px;
    align-items: center;
}

.nav-india-logo{
    background-image: url("images/India_logo.png");
    background-size: cover;
    height: 16px;
    width: 24px;
}

.nav-lang-choose{
    display: flex;
    height: 16px;
    width: 20px;
    align-items: center;
    margin-left: 3px;
    font-weight: bolder;
}

.nav-lang i{
    font-size: 9px;
    color: #cccccc;
}

.nav-sign-in{
    height: 40px;
    width: 130px;
}

.nav-sign-in-option{
    color: #D6D6D6;
    font-size: 1rem;
    height: 14px;
    width: 100px;
}

.nav-acc{
    display: flex;
    height: 15px;
    width: 130px;
}

.nav-acc-li{
    margin-right: 3px;
    font-weight: bolder;
    font-size: 1.05rem;
}

.nav-acc-i{
    display: flex;
    align-items: flex-end;
    font-size: 9px;
    color: #cccccc;
}

.nav-ro{
    height: 50px;
    width: 75px;
}

.nav-re{
    color: #D6D6D6;
    display: flex;
    font-size: 1rem;
}

.nav-or{
    font-weight: bolder;
    font-size: 1.2rem;
}

.nav-cart{
    display: flex;
    font-size: 2rem;
    align-items: baseline;
}

.nav-cart-txt{
    font-weight: bolder;
    font-size: 1rem;
}

.panel{
    height: 40px;
    font-size: 1rem;
    color: white;
    background-color: #232F3E;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all{
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.panel-all i{
    margin-right: 3px;
}

.panel-fresh-prime{
    display: flex;
    align-items: center;
}

.panel-fresh-prime i{
    font-size: 9px;
    color: #cccccc;
    margin-left: 3px;
}

.panel-content{
    display: flex;
}

.panel-content span{
    margin-right: 20px;
}

.hero-img{
    background-image: url("images/Smartphone_hero_image.jpg");
    background-size: cover;
    height: 800px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.small-box{
    height: 420px;
    width: 350px;
    border: x solid black;
    background-color: #fff;
    padding: 20px 0px 15px;
}

.box-content{
    display: flex;
    background-size: cover;
    font-size: 0.9rem;
}

.box-img{
    padding: 10px 10px 0px 10px;
    height: 125px;
    width: 155px;
}

.box-content span{
    margin: 0px 5px 0px 10px;
    display: flex;
}

.box-link{
    padding: 30px 0px 0px 10px;
}

.seperator{
    background-color: #cccccc;
    height: 20px;
    width: 100%;
}

.large-box{
    height: 265px;
    width: auto;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
}

.hf-img{
    height: 200px;
    width: 182px;
    background-size: cover;
    padding: 10px 10px 0px 0px;
}

.tw-img{
    height: 200px;
    width: 250px;
    background-size: cover;
    padding: 10px 10px 0px 0px;
}

.rem-content{
    background-color: #cccccc;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.hk-img{
    height: 200px;
    width: 225px;
    background-size: cover;
    padding: 10px 10px 0px 0px;
}

.uk-img{
    height: 200px;
    width: 225px;
    background-size: cover;
    padding: 10px 10px 0px 0px;
}

.promo-div{
    background-color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 0.7rem;
    font-weight: lighter;
}

.promo img{
    background-image: url("images/dil_logical.jpg");
    background-size: cover;
    height: 250px;
    width: 970px;
}

.promo span{
    display: flex;
    align-items: flex-end;
    justify-content: right;
}

.promo i{
    margin-left: 3px;
}

.fc-img{
    height: 200px;
    width: 150px;
    background-size: cover;
    padding: 10px 10px 0px 0px;
}

.ca-img{
    height: 200px;
    width: 150px;
    background-size: cover;
    padding: 10px 10px 0px 0px;
}